$roundings: (
  none: 0,
  rounded: 8px,
  circle: 9999px,
);

.root {
  --color: var(--color-text-on-background);

  background: none;
  outline: none;

  border: none;

  transition: background-color 0.1s linear;

  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color);
  fill: var(--color);

  user-select: none;
  cursor: pointer;

  &:disabled {
    --color: var(--color-text-on-background-dark);
    cursor: auto;
  }

  &:hover:not(:disabled) {
    &.root-hover-background {
      background: var(--color-background-dark);
    }

    &.root-hover-fill {
      --color: var(--color-text-on-background-dark);
    }
  }

  @each $key, $value in $roundings {
    &-rounding-#{$key} {
      border-radius: $value;
    }
  }
}
