@use '../../../../../ui/src/theme/utils' as *;

.root {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.entities-tabs {
  > * {
    padding: 0 2em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
}

.new-entity-button {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;

  svg {
    fill: var(--color-primary);
  }
}

.entity-list {
  flex-grow: 1;
}

.search-button {
  fill: var(--color-primary);

  @include size(3em);
}
