.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: ew-resize;
  user-select: none;
}

.step-button {
  flex: 1;
  aspect-ratio: 1;

  > svg {
    width: 16px;
    height: 16px;
  }
}
