.root {
  padding: 0.75em;
  background-color: var(--color-background-dark);
  border-radius: 0.75em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    svg {
      fill: var(--color-danger);
    }
  }
}
