.root {
  fill: var(--color-text-on-background);

  .strike {
    stroke: var(--color-text-on-background);
    transition: stroke-dashoffset 0.2s linear;
  }

  &-active .strike {
    stroke-dashoffset: 0;
  }
}
