.root {
  $count: var(--children-count);

  display: grid;
  grid-template-columns: repeat($count, calc(100% / #{$count}));
  padding: 1em 0;
  border-bottom: 1px solid var(--color-background-dark-variant);
}
