@use '../../../../ui/src/theme/breakpoints' as *;

.root {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fit, 100px);
  gap: 0.5em;

  > * {
    height: fit-content;
  }
}
