.root {
  display: flex;
  flex-direction: column;
  margin-left: 0.25em;
  min-height: 0;
}

.search {
  margin: 0.25em 0.5em 0.5em;
}

.list {
  flex: 1;
  overflow: auto;

  &-item {
    display: block;
    padding: 0.5em 1em;
    text-wrap: nowrap;
    border-radius: 0.5em;

    &:hover:not(&-checked) {
      background: var(--color-background-dark-variant);
    }

    &-checked {
      background: var(--color-background-dark);
    }
  }

  input {
    appearance: none;
  }
}
