.item {
  display: flex;
  border-bottom: 1px solid var(--color-background-dark-variant);
  padding: 0.5em 0;

  &-selected {
    background: var(--color-background-dark);
  }

  &-bounds {
    margin-left: auto;
  }
}
