.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border: 1px solid var(--color-text-on-background);
  border-radius: 0.5em;
  padding: 1em 2em;

  &-error {
    border-color: var(--color-danger);
  }
}

.item {
  border: 2px solid var(--color-text-on-background-dark);
  padding: 1em 3em;

  &:hover {
    background-color: var(--color-background-dark-variant) !important;
  }
}
