.content {
  display: flex;
  min-height: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  max-width: 100%;
}

.tab {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
