.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
}

.header {
  padding: 0.5em;
}

.page-view {
  padding-bottom: 0.5em;

  &,
  &-loader,
  &-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
