.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5em;
}

.new-token-button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.page-view {
  padding-bottom: 0.5em;

  &,
  &-loader,
  &-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
