.pager {
  display: flex;
  gap: 0.5em;

  &-move-button {
    padding: 0;
  }
}

.preview {
  flex-grow: 1;
  height: 10em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
}

.footer-actions {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5em;
}
