.root {
  padding: 0.5em;
}

.time-slider {
  margin-top: 0.5em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.speed-switch {
  min-width: 8em;
}

.time {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.loop {
  margin-left: auto;
}

.icon-button {
  width: 32px;
  height: 32px;
}
