.input {
  width: 2.5em;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  text-align: right;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}
