.root {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, 120px);
  gap: 0.5em;

  > * {
    height: fit-content;
  }
}
