.root {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  flex-grow: 1;
}

.header {
  margin-bottom: 1em;
}

.content {
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
}

.entity-data {
  flex-grow: 1;
}

.side-panel {
  min-width: 15%;
  height: fit-content;
}

.preview-panel {
  max-width: 30%;
  min-width: 30%;
}
