.root {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.alternative-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.default-choice {
  display: flex;
  gap: 1em;

  &-label {
    font-weight: 700;
  }
}

.add-alternative-button {
  align-self: center;
}
