.root {
  padding: 0.5rem 1rem;
  flex-grow: 1;
}

.header {
  display: flex;
  margin-bottom: 1em;
}

.delete {
  margin-left: auto;
}

.content {
  display: flex;
  gap: 0.5em;
}

.entity-data {
  flex-grow: 1;
}

.side-panel {
  min-width: 15%;
  height: fit-content;
}
