.root {
  padding: 0.5rem 2rem;
}

.header {
  display: flex;
  margin-bottom: 1em;
}

.delete {
  margin-left: auto;
}

.content {
  display: flex;
}

.component-grid {
  flex-grow: 1;
}

.action-block {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 15%;
  gap: 0.5em;
  border-radius: 0.5em;

  background: var(--color-background-dark);
  height: fit-content;
}
