.preview {
  &-container {
    display: flex;
    padding: 0.5em;
    border: 1px solid var(--color-background-dark-variant);
    border-radius: 0.5em;
  }

  &-list {
    flex-grow: 1;
  }
}

.single-add-button {
  place-self: center center;
}
