$base-width: 6em;

.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &-collapsable {
    .item {
      gap: 0;
      width: 3em;

      &-text {
        transform: scale(0);
      }

      &,
      &-text {
        $duration: .2s;
        $delay: .05s;

        transition: transform $duration linear $delay,
          width $duration linear $delay;
      }
    }

    &:hover .item {
      width: $base-width;
      
      &-text {
        transform: scale(1);
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25em;
  border-radius: 0.5em;

  width: $base-width;
  height: 4em;

  font-weight: 700;

  transition: background-color 0.1s linear;

  svg {
    display: block;
    width: 2em;
    height: 2em;
    fill: var(--color-text-on-background);
  }

  &:hover {
    background: var(--color-background-dark);
  }

  &-active {
    background: var(--color-background-dark-variant);
  }
}