.root {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 1px solid var(--color-text-on-background-dark);
  padding: 0.5em;
  border-radius: 0.5em;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.alternative-label {
  font-weight: 700;
}

.delete-button {
  margin-left: auto;
}
